In [27]:
# Importing the libraries
import numpy as np
import pandas as pd

In [28]:
# Importing the dataset
dataset = pd.read_csv('/content/heart.csv')
dataset.head(5)

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [41]:
# Splitting the dataset into the Training set and Test set
X = dataset.iloc[:, [0,1,2,3]].values
y = dataset.iloc[:, 4].values
print(X.shape)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.40, random_state = 0)

(303, 4)

In [42]:
#KNN
from sklearn.neighbors import KNeighborsClassifier

#set parameter for model
knnc = KNeighborsClassifier(n_neighbors = 5)

#train model
knnc.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [44]:
#test accuracy
knnc.score(X_test,y_test)

0.00819672131147541