In [2]:
# Importing the libraries
import numpy as np
import pandas as pd

In [3]:
# Importing the dataset
dataset = pd.read_csv('/content/drive/MyDrive/OOP-II(Prefect)/iris.csv')
dataset.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
# Splitting the dataset into the Training set and Test set
X = dataset.iloc[:, [0,1,2,3]].values
y = dataset.iloc[:, 4].values
print(X.shape)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

(150, 4)

In [11]:
#KNN
from sklearn.neighbors import KNeighborsClassifier

#set parameter for model
knnc = KNeighborsClassifier(n_neighbors = 5)

#train model
knnc.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [12]:
#test accuracy
knnc.score(X_test,y_test)

0.9666666666666667