#Universal Functions

In [ ]:
import numpy as np

In [ ]:
num = np.array([1, 4, 9, 16, 25, 36])

Arithmetic Operation

In [ ]:
np.sqrt(num)

In [ ]:
num2 = np.arange(0, 6) * 10

In [ ]:
num2

In [ ]:
np.add(num, num2)

In [ ]:
num3 = np.array([1, 2, 4, 5, 10, 15])

In [ ]:
np.divide(num, num3)

In [ ]:
np.mod(num,num3)

In [ ]:
np.remainder(num,num3)

Array Product

In [ ]:
A = np.array( [[1,1],
               [0,1]] )

B = np.array( [[2,0],
               [3,4]] )

In [ ]:
A * B    # elementwise product

In [ ]:
np.multiply(A,B)

In [ ]:
A @ B    # matrix product

In [ ]:
A.dot(B)

Exponents and Logarithms

In [ ]:
np.exp(1)

In [ ]:
np.power(3, 3)

In [ ]:
np.log10(2)

In [ ]:
np.log2(4)

Trigonometric Functions

In [ ]:
import math
value = np.array([0,30,45,60,90])

In [ ]:
a = np.sin(value*math.pi/180)  #the result is in Radians
a

In [ ]:
result = np.arcsin(a)
result

In [ ]:
np.degrees(result)

In [ ]:
np.cos(value)

In [ ]:
res = np.tan(value*np.pi/180) # result in Degree
res

In [ ]:
inverseOfTan = np.arctan(res)
inverseOfTan

In [ ]:
np.degrees(inverseOfTan)

In [ ]:
np.radians()

In [ ]:
np.deg2rad()

#Indexing

In [ ]:
num = np.array([1, 4, 9, 16, 25, 36])

In [ ]:
num[1:]

In [ ]:
grades = np.array([[87, 96, 70],
                   [100, 87, 90],
                   [94, 77, 90], 
                   [100, 81, 82]])

In [ ]:
grades

In [ ]:
grades[2] #select a single row, specify only one index in square brackets

In [ ]:
grades[0:2] #select multiple sequential rows, use slice notation

#Array Slicing

In [ ]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12],[1,2,3,4], [5,6,7,8], [9,10,11,12]])

In [ ]:
a

In [ ]:
a[4:6, 1:3]

In [ ]:
a[2:5, 2:4]  #Selecting a Subset of a Two-Dimensional arrayâ€™s Columns

In [ ]:
a[3:4, 2:4]

#Shallow and Deep Copy

In [ ]:
import copy

li1 = [1, 2, [3,5], 4]

In [ ]:
li2 = copy.deepcopy(li1)

In [ ]:
li2

In [ ]:
li1

In [ ]:
li2[2][0] = 'Z'

In [ ]:
li2

In [ ]:
li1

#Shape and Reshape

In [ ]:
temp = np.linspace(0,100,12)

In [ ]:
temp

In [ ]:
temp.shape

In [ ]:
temperatures = np.around(temp, decimals=1)
temperatures

In [ ]:
t1 = temperatures.reshape(3,4)
t1

In [ ]:
t2 = temperatures.reshape(2,3,2)
t2

Transposing

In [ ]:
z = np.swapaxes(t2, 0, 2)
z

In [ ]:
z.T